##### pip install ipykernel

In [1]:
import numpy as np
import pandas as pd
import sys,os
import requests, zipfile
from io import BytesIO

In [2]:
DATA_URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00522/SouthGermanCredit.zip'
DATA_DOWNLOAD_LOCATION = 'data'

In [3]:
os.getcwd()

'f:\\iNeuron\\Project\\Bank-Credit-Risk-Prediction\\notebook'

In [4]:
os.makedirs(DATA_DOWNLOAD_LOCATION,exist_ok=True)

In [5]:
current_path = os.getcwd()
data_download_path = os.path.join(current_path, DATA_DOWNLOAD_LOCATION)
file_name = os.path.basename(DATA_URL)
print("Current path: {}".format(current_path))
print("Data Download path: {}".format(data_download_path))
print("File Name: {}".format(file_name))

Current path: f:\iNeuron\Project\Bank-Credit-Risk-Prediction\notebook
Data Download path: f:\iNeuron\Project\Bank-Credit-Risk-Prediction\notebook\data
File Name: SouthGermanCredit.zip

In [6]:
print('Downloading started')
req = requests.get(DATA_URL)
print('Downloading Completed')

Downloading started
Downloading Completed

In [7]:
zipfile = zipfile.ZipFile(BytesIO(req.content))
zipfile.extractall(data_download_path)

In [8]:
extracted_file_name = os.path.join(data_download_path,os.listdir(data_download_path)[2])

In [9]:
df = pd.read_table(extracted_file_name, sep = ' ')

In [10]:
df.head()

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

In [11]:
df.shape

(1000, 21)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   laufkont  1000 non-null   int64
 1   laufzeit  1000 non-null   int64
 2   moral     1000 non-null   int64
 3   verw      1000 non-null   int64
 4   hoehe     1000 non-null   int64
 5   sparkont  1000 non-null   int64
 6   beszeit   1000 non-null   int64
 7   rate      1000 non-null   int64
 8   famges    1000 non-null   int64
 9   buerge    1000 non-null   int64
 10  wohnzeit  1000 non-null   int64
 11  verm      1000 non-null   int64
 12  alter     1000 non-null   int64
 13  weitkred  1000 non-null   int64
 14  wohn      1000 non-null   int64
 15  bishkred  1000 non-null   int64
 16  beruf     1000 non-null   int64
 17  pers      1000 non-null   int64
 18  telef     1000 non-null   int64
 19  gastarb   1000 non-null   int64
 20  kredit    1000 non-null   int64
dtypes: int64(21)
memory usage: 164.2 KB

In [13]:
df.columns

Index(['laufkont', 'laufzeit', 'moral', 'verw', 'hoehe', 'sparkont', 'beszeit',
       'rate', 'famges', 'buerge', 'wohnzeit', 'verm', 'alter', 'weitkred',
       'wohn', 'bishkred', 'beruf', 'pers', 'telef', 'gastarb', 'kredit'],
      dtype='object')

In [14]:
df.rename(columns = {'laufkont':'status', 'laufzeit':'duration', 'moral': 'credit_history', 'verw': 'purpose', 'hoehe': 'amount', 
                     'sparkont': 'savings', 'beszeit': 'employment_duration', 'rate': 'installment_rate', 'famges': 'personal_status_sex', 
                     'buerge': 'other_debtors', 'wohnzeit': 'present_residence', 'verm': 'property', 'alter': 'age', 'weitkred': 'other_installment_plans',
                     'wohn': 'housing', 'bishkred': 'number_credits', 'beruf': 'job', 'pers': 'people_liable', 'telef': 'telephone',
                     'gastarb':'foreign_worker', 'kredit': 'credit_risk'}, inplace = True)

In [15]:
df.head(10)

,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1
5,1,10,4,0,2241,1,2,1,3,1,...,1,48,3,1,2,2,1,1,1,1
6,1,8,4,0,3398,1,4,1,3,1,...,1,39,3,2,2,2,2,1,1,1
7,1,6,4,0,1361,1,2,2,3,1,...,1,40,3,2,1,2,1,1,1,1
8,4,18,4,3,1098,1,1,4,2,1,...,3,65,3,2,2,1,2,1,2,1
9,2,24,2,3,3758,3,1,1,2,1,...,4,23,3,1,1,1,2,1,2,1

In [16]:
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

In [17]:
df['credit_risk'].value_counts()

1    700
0    300
Name: credit_risk, dtype: int64

In [18]:
from sklearn.model_selection import StratifiedShuffleSplit

In [19]:
strat_train_set = None
strat_test_set = None
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

In [20]:
for train_index,test_index in split.split(df, df["credit_risk"]):
    strat_train_set = df.loc[train_index].drop(["credit_risk"],axis=1)
    strat_test_set = df.loc[test_index].drop(["credit_risk"],axis=1)

In [21]:
os.getcwd()

'f:\\iNeuron\\Project\\Bank-Credit-Risk-Prediction\\notebook'

In [36]:
TRAIN_DIR = 'train'
TEST_DIR = 'test'

train_dir_path = os.path.join(os.getcwd(), TRAIN_DIR)
test_dir_path = os.path.join(os.getcwd(), TEST_DIR)
TRAIN_FILE_NAME = os.path.join(train_dir_path,'train.csv')
TEST_FILE_NAME = os.path.join(test_dir_path,'test.csv')

print(train_dir_path)
print(test_dir_path)
print(TRAIN_FILE_NAME)
print(TEST_FILE_NAME)

f:\iNeuron\Project\Bank-Credit-Risk-Prediction\notebook\train
f:\iNeuron\Project\Bank-Credit-Risk-Prediction\notebook\test
f:\iNeuron\Project\Bank-Credit-Risk-Prediction\notebook\train\train.csv
f:\iNeuron\Project\Bank-Credit-Risk-Prediction\notebook\test\test.csv

In [34]:
if strat_train_set is not None:
    os.makedirs(train_dir_path,exist_ok=True)
    strat_train_set.to_csv(TRAIN_FILE_NAME, index= False)

In [37]:
if strat_test_set is not None:
    os.makedirs(test_dir_path,exist_ok=True)
    strat_test_set.to_csv(TEST_FILE_NAME, index= False)