In [35]:
import numpy as np
import pandas as pd

import os

In [42]:
#df = pd.read_table('data\SouthGermanCredit.asc', sep = ' ')
#df = pd.read_table('SouthGermanCredit.asc', sep = ' ')
#df = pd.read_table("F:\\iNeuron\\Project\\Bank-Credit-Risk-Prediction\\banking\\artifact\\data_ingestion\\2022-07-26-23-21-43\\main_data\\SouthGermanCredit.asc", sep = ' ')
df = pd.read_table("F:\\iNeuron\\Project\\Bank-Credit-Risk-Prediction\\banking\\artifact\\data_ingestion\\2022-07-27-19-44-05\\ingested_data\\test\\SouthGermanCredit.asc")
#df.rename(columns = {'laufkont':'status', 'laufzeit':'duration', 'moral': 'credit_history', 
#                                                 'verw': 'purpose', 'hoehe': 'amount', 'sparkont': 'savings', 
#                                                 'beszeit': 'employment_duration', 'rate': 'installment_rate', 'famges': 'personal_status_sex', 
#                                                 'buerge': 'other_debtors', 'wohnzeit': 'present_residence', 'verm': 'property', 
#                                                 'alter': 'age', 'weitkred': 'other_installment_plans', 'wohn': 'housing', 
#                                                 'bishkred': 'number_credits', 'beruf': 'job', 'pers': 'people_liable', 
#                                                 'telef': 'telephone',  'gastarb':'foreign_worker', 'kredit': 'credit_risk'}, 
#                                                 inplace = True)

In [43]:
df.head()

  status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,personal_status_sex,other_debtors,present_residence,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker
0       1,15,2,0,2511,1,1,1,2,1,4,3,23,3,1,1,3,2,1,2
1        4,4,4,0,3380,1,4,1,2,1,1,1,37,3,2,1,3,1,1,2
2       4,12,2,2,1574,1,3,4,3,1,2,1,50,3,2,1,3,2,1,2
3        4,12,4,3,930,5,5,4,3,1,4,1,65,3,2,4,3,2,1,2
4       1,48,2,9,4308,1,2,3,2,1,4,2,24,3,1,1,3,2,1,2

In [39]:
df.dtypes

status                     int64
duration                   int64
credit_history             int64
purpose                    int64
amount                     int64
savings                    int64
employment_duration        int64
installment_rate           int64
personal_status_sex        int64
other_debtors              int64
present_residence          int64
property                   int64
age                        int64
other_installment_plans    int64
housing                    int64
number_credits             int64
job                        int64
people_liable              int64
telephone                  int64
foreign_worker             int64
credit_risk                int64
dtype: object

In [38]:
columns = df.columns
columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

In [33]:
data_type = list(map(lambda x:str(x).replace("dtype('","").replace("')",""), df.dtypes.values))
data_type

['int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64',
 'int64']

In [34]:
dict(zip(columns, data_type))

{'status': 'int64',
 'duration': 'int64',
 'credit_history': 'int64',
 'purpose': 'int64',
 'amount': 'int64',
 'savings': 'int64',
 'employment_duration': 'int64',
 'installment_rate': 'int64',
 'personal_status_sex': 'int64',
 'other_debtors': 'int64',
 'present_residence': 'int64',
 'property': 'int64',
 'age': 'int64',
 'other_installment_plans': 'int64',
 'housing': 'int64',
 'number_credits': 'int64',
 'job': 'int64',
 'people_liable': 'int64',
 'telephone': 'int64',
 'foreign_worker': 'int64',
 'credit_risk': 'int64'}